doctype html
html
  head
    title New Book Created
  body
    .container
      .header
        h2 Book Successfully Added!
      .content
        p Dear #{userEmail},
        p We're here to confirm that your book has been successfully added!
        p Here are the details you provided:
        .book-details
          p
            strong Title:
            |  #{bookTitle}
          p
            strong Author:
            |  #{bookAuthor}
            p
              strong Year Published:
              |  #{bookYear}
        p Thank you for your contribution!
        p If you have any questions, feel free to reply to this email.
      .footer
        p &copy; #{new Date().getFullYear()} Book App.
